.button-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.Page-button-container{
    display:inline-flex;
    justify-content: center;
    margin: auto;    
}

.Deleteall{
    background-color: crimson;
    border-radius: 8px;
    color: whitesmoke;
    border:none;
    font-size: 15px;
    padding: 4px;
}

.Pagebutton{
    width:35px;
    height: 35px;
    background-color: #509ef7;
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    border-radius: 40%;
    margin-right: 6px;
}